.demo{
    background-color: aqua;
}
.yellow{
    background-color: yellow;
}
.bagani{
    background-color: rgb(185, 141, 227);
}
.sky{
    background-color: rgb(117, 231, 225);
}
.brown{
    background-color: goldenrod;
}
.green{
    background-color: rgb(91, 206, 91);
}
.light{
    background-color: rgb(164, 250, 78);
}
.red{
    background-color: rgb(231, 53, 53);
}
.Periodic{
    text-align:left;
   
}