section{
    height: 650px;
    width: 600px;
    background-color: aliceblue;
    border: solid;
}
section:hover div{
 background-color: yellow;
 transform: translateX(400px);

}
div{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 5s;
}
div:nth-child(1){
    transition-timing-function: linear;
}
div:nth-child(2){
     transition-timing-function: ease;
}
div:nth-child(3){
    transition-timing-function: ease-in-out;
}
div:nth-child(4){
    transition-timing-function: ease-out;
}
div:nth-child(5){
 transition-timing-function: ease-in;   
}
div:nth-child(6){
    transition-timing-function: cubic-bezier(.7,-0.15,.08,1);
}